nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .col-sm-6.navbar-left
            a(href='/')
                img(src="images/dcroast.png")
        .col-sm-6.navbar-right
            a(href="/login")
                button.btn.btn-primary(type="submit") Log In
            a(href="/register")
                button.btn.btn-primary(type="submit") Register