extends layout

block content
	.container-fluid.content
		.row
			.col-sm-12.coffee-cup-background
				//- img(src="images/coffee.jpg")
				.col-sm-12.coffee-cup-text
					h1 A Smarter way to Grind
					h4 Fresh Coffee Beans. 
					h4 Delivered to your door.
		.row
			.col-sm-12.text-center.works
				p HOW IT WORKS
			.col-sm-12.arrow-holder
				.arrow-down
		.row
			.col-sm-12.steps.step-1.step-1-background
				.col-sm-12.step-1-text
					h3.title 1. We get the Coffee
					p Each bean is hand selected
					p Each bean is measured for precise size
					p Each bean is tenderly carressed 
		.row
			.col-sm-12.steps.step-2
				.col-sm-4.step-2-background
					img(src="images/grower.jpg")
				.col-sm-4.step-2-text
					h3.title 2. We pick up the coffee
					p We place the coffee in bags
					p Each bag is transported in Climate Control Trucks
					p Every six hours the bags are rotated to kepp the beans uniform and delicious
			.col-sm-12.arrow-holder
				.arrow-down
		.row
			.col-sm-12.steps.step-3
				.col-sm-6.step-3-text
					h3.title 3. You drink the Coffee
					p The coffee tastes delicious
					p You want more coffee!!
				.col-sm-6.step-3-background
						img(src="images/cupsteam.jpg")
			.col-sm-12.arrow-holder
				.arrow-down
		.row
			#get-started.col-sm-12
				.col-sm-4.col-md-offset-4.text-center
					a(href="/register")
						button.btn.btn-primary(type="button") Get Started 
					h3 Want to know More about us? 
					a(href="/story")
						button.btn.btn-primary(type="button") OUR STORY






